.catalog__holder {
    width: 100%;
    height: auto;
    border: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 90px;
    padding: 30px;
    gap: 15px;
    @media screen and (max-width: 1291px) {
        & {
          justify-content: center;  
          gap: 40px;
        }
    }
    .pagination{
      width: 110px;
      border: 1px solid #000;
      position: fixed;
      left: calc(50% - 40px);
      bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
}
