.catalog__holder {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    gap: 15px;
    @media screen and (max-width: 1291px) {
        height: 80vh;
        border-bottom: 4px solid #fff;
        overflow-y: scroll;
    }
    .pagination{
      width: 130px;
      position: fixed;
      left: calc(50% - 65px);
      bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      gap: 10px;
      button{
        width: 30px;
        height: 30px;
        background-image: url(https://www.freeiconspng.com/uploads/white-arrow-icon-5.png);
        background-size: cover;
        &:first-child{
          transform: rotate(180deg);
        }
      }
    }
}
